[submodule "libs/doctor"]
	path = libs/doctor
	url = git://github.com/uxebu/doctor.git
[submodule "docs/user"]
	path = docs/user
	url = git@github.com:uxebu/embedjs.wiki.git
[submodule "libs/requirejs"]
	path = libs/requirejs
	url = git://github.com/jrburke/requirejs.git
[submodule "libs/r.js"]
	path = libs/r.js
	url = git://github.com/jrburke/r.js.git
